@import url("https://fonts.googleapis.com/css?family=Economica:400,700");
@import url("https://fonts.googleapis.com/css?family=Bitter|Playfair+Display");
.begin {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }
  .begin-button {
    padding: 30px;
    margin: 0 0 200px 0;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 30px;
    font-family: "Economica", serif;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-transform: uppercase;
    will-change: transform; }
    .begin-button:hover {
      background: rgba(255, 255, 255, 0.1);
      transform: scale(1.05);
      transform-origin: center; }
    .begin-button.clicked {
      padding: 50px;
      opacity: 0;
      filter: blur(5px); }

.introduction {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .introduction .buttonGoToMission {
    position: absolute;
    z-index: 5;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 20px;
    font-family: "Economica", serif;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-transform: uppercase;
    will-change: transform;
    padding: 15px; }
    .introduction .buttonGoToMission:hover {
      background: rgba(255, 255, 255, 0.1);
      transform-origin: center; }
    .introduction .buttonGoToMission.clicked {
      padding: 50px;
      opacity: 0;
      filter: blur(5px); }
  .introduction .sentence-container {
    position: relative;
    width: 1200px;
    z-index: 1;
    transform: translateY(-300px); }
    .introduction .sentence-container .sentence {
      position: absolute;
      left: 50%;
      text-align: center;
      margin: 0 auto;
      color: white;
      font-size: 38px;
      font-family: "Economica", serif;
      transform: translateX(-50%) translateY(-50%);
      will-change: opacity;
      opacity: 0; }
      .introduction .sentence-container .sentence.sentence-1 {
        animation-delay: 0s; }
      .introduction .sentence-container .sentence.sentence-2 {
        animation-delay: 3.5s; }
      .introduction .sentence-container .sentence.sentence-3 {
        animation-delay: 7s; }
      .introduction .sentence-container .sentence.sentence-4 {
        animation-delay: 10.5s; }
      .introduction .sentence-container .sentence.sentence-5 {
        animation-delay: 14s; }
      .introduction .sentence-container .sentence.sentence-6 {
        animation-delay: 17.5s; }
      .introduction .sentence-container .sentence.sentence-7 {
        animation-delay: 17.5s; }
    .introduction .sentence-container .animation {
      animation-name: opacity;
      animation-duration: 3.5s; }
  .introduction .hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .introduction .hero .picture {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: bottom;
      transition: transform 0.3s;
      will-change: transform; }
      .introduction .hero .picture.picture-5 {
        background-image: url(../images/5.png);
        animation-delay: 0s; }
      .introduction .hero .picture.picture-4 {
        background-image: url(../images/4.png);
        animation-delay: 0.5s; }
      .introduction .hero .picture.picture-3 {
        background-image: url(../images/3.png);
        animation-delay: 1s; }
      .introduction .hero .picture.picture-2 {
        background-image: url(../images/2.png);
        animation-delay: 1.5s; }
      .introduction .hero .picture.picture-1 {
        background-image: url(../images/1.png);
        animation-delay: 2s; }
      .introduction .hero .picture.picture-0 {
        background-image: url(../images/0.png); }
    .introduction .hero .animation {
      animation-name: translate;
      animation-play-state: paused;
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1; }
    .introduction .hero .run {
      animation-play-state: running; }

@keyframes translate {
  0% {
    transform: translateY(200px); }
  100% {
    transform: translateY(0px); } }
@keyframes opacity {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
:root {
  --scale-value: 1.2; }

.conatiner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #153A4B;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Economica", serif; }
  .conatiner .restart {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: solid 1px white;
    border-radius: 50px;
    padding: 20px;
    margin: 20px auto;
    font-size: 24px;
    font-family: "Economica", serif;
    cursor: pointer;
    transition: background 0.3s; }
    .conatiner .restart:hover {
      background: rgba(255, 255, 255, 0.253); }

.conatiner.vanish {
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 2s;
  opacity: 0; }

.quiz,
.quiz *:not(h3) {
  transform: scale(var(--scale-value)); }

.text {
  position: absolute;
  width: 600px;
  height: 424px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(50% - 212px);
  left: calc(50% - 300px); }

.quiz {
  width: 100%;
  height: 100vh;
  background: url(../images/quiz.svg) no-repeat;
  background-size: 50%;
  background-position: center;
  top: calc(50% - 212px);
  left: calc(50% - 300px);
  display: flex;
  flex-direction: column;
  align-items: center; }

.quiz * {
  color: white; }

.quiz h2 {
  margin: 20px 0;
  font-size: 50px; }

.quiz .choice {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 50%; }

.quiz .choice button {
  width: 70px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background: url(../images/button.svg) no-repeat;
  background-size: cover;
  background-position: center;
  outline: none; }

.quiz .choice button:hover {
  animation-name: button;
  animation-duration: 800ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.quiz h3 {
  margin: 180px 0 0 0;
  font-size: 30px;
  width: 65%;
  text-align: center; }

.buttonGoToExplanation {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Economica", serif;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-transform: uppercase;
  will-change: transform;
  padding: 15px; }
  .buttonGoToExplanation:hover {
    background: rgba(255, 255, 255, 0.1);
    transform-origin: center; }

@keyframes button {
  0% {
    transform: scale(var(--scale-value)); }
  50% {
    transform: scale(calc(var(--scale-value) - 0.05)); }
  100% {
    transform: scale(var(--scale-value)); } }
.second-screen {
  position: relative;
  height: 100vh; }
  .second-screen .space-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    .second-screen .space-container .buttonGoToPortHole {
      position: absolute;
      top: 14%;
      left: 40%;
      transform: translateX(-50%);
      color: white;
      border: 1px solid white;
      border-radius: 50px;
      font-size: 20px;
      font-family: "Economica", serif;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;
      text-transform: uppercase;
      will-change: transform;
      padding: 15px; }
      .second-screen .space-container .buttonGoToPortHole:hover {
        background: rgba(255, 255, 255, 0.1);
        transform-origin: center; }
    .second-screen .space-container .bg-space {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .second-screen .mission-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .second-screen .mission-container .bg-mission {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .second-screen .mission-container .mission {
      color: white;
      font-family: "Economica", serif;
      z-index: 1;
      max-width: 1200px; }
      .second-screen .mission-container .mission h1 {
        font-size: 56px;
        transform: translateY(-11vh); }
      .second-screen .mission-container .mission p {
        transform: translateY(-10vh);
        font-size: 32px;
        white-space: pre-line; }
  .second-screen .buttonGoToRocket {
    position: absolute;
    z-index: 100;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 20px;
    font-family: "Economica", serif;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-transform: uppercase;
    will-change: transform;
    padding: 15px; }
    .second-screen .buttonGoToRocket:hover {
      background: rgba(255, 255, 255, 0.1);
      transform-origin: center; }
    .second-screen .buttonGoToRocket.clicked {
      padding: 50px;
      opacity: 0;
      filter: blur(5px); }
  .second-screen .hublots {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 4;
    width: 100%;
    height: 300vh; }
    .second-screen .hublots .hublot {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh; }
      .second-screen .hublots .hublot .hublot-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .second-screen .hublots .hublot .goDown {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid black;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        animation: jump 1s infinite;
        animation-delay: 0.5;
        cursor: pointer; }
        .second-screen .hublots .hublot .goDown .arrow {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -40%) rotate(45deg);
          border-right: 1px solid black;
          border-bottom: 1px solid black;
          width: 20px;
          height: 20px; }
      .second-screen .hublots .hublot .goToAstero {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50px;
        background-color: #A72D66;
        color: white;
        font-size: 20px;
        font-family: "Economica", serif;
        padding: 20px;
        cursor: pointer;
        animation: jump 1s infinite;
        animation-delay: 0.5; }

@keyframes jump {
  0% {
    transform: translateX(-50%) translateY(0px); }
  50% {
    transform: translateX(-50%) translateY(-20px); }
  100% {
    transform: translateX(-50%) translateY(0px); } }
.rocket-container {
  position: relative;
  height: 100vh; }
  .rocket-container .bg-rocket {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .rocket-container .rocket-description {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    bottom: 80px;
    left: 50%;
    will-change: transform;
    transform: translateX(-50%) scale(0.65);
    transform-origin: bottom;
    transition: all 5s;
    transition-timing-function: cubic-bezier(0.3, 0, 0.86, 0.55); }
    .rocket-container .rocket-description .description {
      position: absolute;
      border: 8px solid #a00d0d;
      border-radius: 50px;
      width: 25px;
      height: 25px;
      will-change: transform;
      transition: transform 0.3s; }
      .rocket-container .rocket-description .description:hover {
        transform: scale(1.1); }
      .rocket-container .rocket-description .description.description-1 {
        left: 46%;
        top: 40px; }
      .rocket-container .rocket-description .description.description-2 {
        right: 18%;
        bottom: 59%; }
      .rocket-container .rocket-description .description.description-3 {
        left: 46.5%;
        bottom: 105px; }
      .rocket-container .rocket-description .description.description-4 {
        right: 46%;
        top: 170px; }
      .rocket-container .rocket-description .description.description-5 {
        right: 14%;
        bottom: 35%; }
      .rocket-container .rocket-description .description.description-6 {
        right: 52%;
        top: 210px; }
  .rocket-container .capitaine-dialog {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1000px;
    display: flex;
    background: #24242471;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px; }
    .rocket-container .capitaine-dialog .capitaine {
      width: 150px;
      height: 150px;
      border: 1px solid white;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin: -1px 0 0 -1px; }
    .rocket-container .capitaine-dialog .dialog {
      border-radius: 20px;
      line-height: 28px;
      color: white;
      padding: 10px;
      margin: 10px;
      width: 600px;
      font-family: "Economica", serif;
      font-size: 20px;
      white-space: pre-line; }
  .rocket-container .take-up {
    position: absolute;
    top: 65%;
    left: 22%;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 30px;
    font-family: "Economica", serif;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-transform: uppercase;
    will-change: transform;
    padding: 20px; }
    .rocket-container .take-up:hover {
      background: rgba(255, 255, 255, 0.1);
      transform-origin: center; }
  .rocket-container .goToSpace {
    animation-name: takeUp;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out; }
  .rocket-container .failToSpace {
    animation-name: takeUpfailed;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-timing-function: ease-out; }

@keyframes takeUp {
  0% {
    transform: translateX(-50%) scale(0.65); }
  100% {
    transform: translateX(-50%) scale(0.5) translateY(-250vh) rotate(50deg); } }
@keyframes takeUpfailed {
  0% {
    transform: translateX(-50%) scale(0.65); }
  50% {
    transform: translateX(-50%) scale(0.5) translateY(-250vh) rotate(50deg); }
  100% {
    transform: translateX(300%) scale(0.5) translateY(-250vh) rotate(1000deg); } }
.space-asteroide-container {
  position: relative;
  height: 100vh; }
  .space-asteroide-container .bg-space {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .space-asteroide-container .rocket-in-space {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(60deg); }
    .space-asteroide-container .rocket-in-space .rocketimg {
      width: 180px;
      height: 300px; }
  .space-asteroide-container .asteroides {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 600px;
    will-change: transform; }
    .space-asteroide-container .asteroides .asteroide {
      width: 150px;
      height: 100px; }
    .space-asteroide-container .asteroides .asteroide-1 {
      position: absolute;
      top: 0;
      left: 300px; }
    .space-asteroide-container .asteroides .asteroide-2 {
      position: absolute;
      top: 100px;
      left: 80px; }
    .space-asteroide-container .asteroides .asteroide-3 {
      position: absolute;
      top: 250px;
      left: 100px; }
    .space-asteroide-container .asteroides .asteroide-4 {
      position: absolute;
      top: 0px;
      left: -50px; }
    .space-asteroide-container .asteroides .asteroide-5 {
      position: absolute;
      top: 300px;
      left: 300px;
      transform: rotate(169deg); }
  .space-asteroide-container .animation-rocket {
    animation: travel-rocket 10s;
    animation-fill-mode: both; }
  .space-asteroide-container .animation-aste {
    animation: travel-aste 15s;
    animation-fill-mode: both; }
  .space-asteroide-container .animation-rocket-fail {
    animation: travel-rocket-fail 5s;
    animation-timing-function: linear;
    animation-fill-mode: both; }
  .space-asteroide-container .capitaine-dialog {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1000px;
    display: flex;
    background: #24242471;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px; }
    .space-asteroide-container .capitaine-dialog .capitaine {
      width: 150px;
      height: 150px;
      border: 1px solid white;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin: -1px 0 0 -1px; }
    .space-asteroide-container .capitaine-dialog .dialog {
      border-radius: 20px;
      line-height: 24px;
      color: white;
      padding: 10px;
      margin: 10px;
      width: 600px;
      font-family: "Economica", serif;
      font-size: 20px; }
  .space-asteroide-container .goToWarehouse {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 20px;
    font-family: "Economica", serif;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-transform: uppercase;
    will-change: transform;
    padding: 15px; }
    .space-asteroide-container .goToWarehouse:hover {
      background: rgba(255, 255, 255, 0.1);
      transform-origin: center; }
  .space-asteroide-container .warehouse-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .space-asteroide-container .warehouse-container .bg-warehouse {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .space-asteroide-container .warehouse-container .capitaine-dialog {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 1000px;
      display: flex;
      background: #242424da;
      border: 1px solid white;
      border-radius: 10px;
      margin: 10px; }
      .space-asteroide-container .warehouse-container .capitaine-dialog .capitaine {
        width: 150px;
        height: 150px;
        border: 1px solid white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: -1px 0 0 -1px; }
      .space-asteroide-container .warehouse-container .capitaine-dialog .dialog-at-warehouse {
        border-radius: 20px;
        line-height: 24px;
        color: white;
        padding: 10px;
        margin: 10px;
        width: 600px;
        font-family: "Economica", serif;
        font-size: 20px;
        white-space: pre-line; }
    .space-asteroide-container .warehouse-container .getFood {
      position: absolute;
      bottom: 10%;
      left: 55%;
      transform: translateX(-50%);
      color: white;
      border: 1px solid white;
      border-radius: 50px;
      font-size: 20px;
      font-family: "Economica", serif;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;
      text-transform: uppercase;
      will-change: transform;
      padding: 15px; }
      .space-asteroide-container .warehouse-container .getFood:hover {
        background: rgba(255, 255, 255, 0.1);
        transform-origin: center; }
    .space-asteroide-container .warehouse-container .goToCockpit {
      position: absolute;
      bottom: 10%;
      left: 55%;
      transform: translateX(-50%);
      color: white;
      border: 1px solid white;
      border-radius: 50px;
      font-size: 20px;
      font-family: "Economica", serif;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;
      text-transform: uppercase;
      will-change: transform;
      padding: 15px; }
      .space-asteroide-container .warehouse-container .goToCockpit:hover {
        background: rgba(255, 255, 255, 0.1);
        transform-origin: center; }

@keyframes travel-rocket {
  0% {
    transform: rotate(60deg); }
  100% {
    transform: translateX(100vw) translateY(-100vh) rotate(60deg); } }
@keyframes travel-aste {
  100% {
    transform: translateX(-100vw) translateY(100vh) rotate(20deg); } }
@keyframes travel-rocket-fail {
  0% {
    transform: rotate(60deg); }
  80% {
    transform: translateX(30vw) translateY(-30vh) rotate(60deg); }
  100% {
    transform: translateX(40vw) translateY(-40vh) rotate(75deg); } }
.cockpit-container {
  position: relative;
  height: 100vh; }
  .cockpit-container .buttonGoToLanding {
    position: absolute;
    top: 14%;
    left: 58%;
    transform: translateX(-50%);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 20px;
    font-family: "Economica", serif;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-transform: uppercase;
    will-change: transform;
    padding: 15px; }
    .cockpit-container .buttonGoToLanding:hover {
      background: rgba(255, 255, 255, 0.1);
      transform-origin: center; }
  .cockpit-container .bg-cockpit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .cockpit-container .capitaine-dialog {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 1000px;
    display: flex;
    background: #242424cb;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px; }
    .cockpit-container .capitaine-dialog .capitaine {
      width: 150px;
      height: 150px;
      border: 1px solid white;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin: -1px 0 0 -1px; }
    .cockpit-container .capitaine-dialog .dialog-at-cockpit {
      border-radius: 20px;
      line-height: 24px;
      color: white;
      padding: 10px;
      margin: 10px;
      width: 600px;
      font-family: "Economica", serif;
      font-size: 20px;
      white-space: pre-line; }
  .cockpit-container .mars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .cockpit-container .mars-container .bg-mars {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .cockpit-container .mars-container .rocket {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translateX(-50%) scale(0.6) translateY(-200vh);
      transform-origin: bottom;
      z-index: 1; }
    .cockpit-container .mars-container .congratulations {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      color: white;
      opacity: 0;
      transition: opacity 1s;
      font-family: "Economica", serif;
      text-align: center; }
      .cockpit-container .mars-container .congratulations h3 {
        font-size: 56px; }
      .cockpit-container .mars-container .congratulations p {
        font-size: 32px; }
    .cockpit-container .mars-container .land {
      animation: land 5s;
      animation-fill-mode: both; }
    .cockpit-container .mars-container .disclaimer {
      position: absolute;
      bottom: 2px;
      left: 10px;
      color: white;
      font-size: 18px; }

@keyframes land {
  0% {
    transform: translateX(-50%) scale(0.6) translateY(-200vh); }
  100% {
    transform: translateX(-50%) scale(0.6) translateY(0vh); } }
.container {
  display: flex;
  flex-direction: column;
  transition: transform 1s;
  user-select: none;
  letter-spacing: 2px; }

body {
  overflow: hidden; }

.no-display {
  display: none !important; }

.opacity {
  opacity: 1 !important; }

.displayed {
  display: block; }

.clicked {
  padding: 50px;
  opacity: 0;
  filter: blur(5px); }

strong {
  font-weight: bold; }

.failed-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3; }
  .failed-container .failed {
    text-align: center;
    color: white; }
    .failed-container .failed h1 {
      font-size: 56px;
      font-family: "Economica", serif; }
    .failed-container .failed p {
      font-size: 32px; 
      font-family: "Economica", serif;}
    .failed-container .failed .restart {
      border: solid 1px white;
      border-radius: 50px;
      padding: 10px;
      margin: 20px auto;
      width: 300px;
      font-size: 24px;
      font-family: "Economica", serif;
      cursor: pointer;
      transition: background 0.3s; }
      .failed-container .failed .restart:hover {
        background: rgba(255, 255, 255, 0.253); }

/*# sourceMappingURL=app.css.map */
