@import url('https://fonts.googleapis.com/css?family=Bitter|Playfair+Display');
body{
    overflow: visible;
}

// ECRAN DU BOUTON COMMENCER ET BOUTON COMMENCER

.begin{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
    &-button{
        padding: 30px;
        margin: 0 0 200px 0;
        color: $color;
        border: 1px solid $color;
        border-radius: 50px;
        font-size: 30px;
        font-family: $font;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s;
        text-transform: uppercase;
        will-change: transform;
        &:hover{
            background: rgba(255,255,255, 0.1);
            transform: scale(1.05);
            transform-origin: center;
        }
        &.clicked{
            padding: 50px;
            opacity: 0;
            filter: blur(5px);
        }
    }
}

// PHRASES PUIS IMAGES DE L'INTRO

.introduction{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top:0;
    left:0;
    right:0;
    bottom:0;
    .sentence-container{
        position: relative;
        width: 1200px;
        z-index: 1;
        transform: translateY(-300px);
        .sentence{
            position: absolute;
            left: 50%;
            text-align: center;
            margin: 0 auto;
            color: $color;
            font-size: 38px;
            font-family: 'Bitter', serif;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            &.sentence-1{animation-delay: 0s}
            &.sentence-2{animation-delay: 3.5s}
            &.sentence-3{animation-delay: 7s}
            &.sentence-4{animation-delay: 10.5s}
            &.sentence-5{animation-delay: 14s}
            &.sentence-6{animation-delay: 17.5s}
            &.sentence-7{animation-delay: 17.5s;   }
           
        }
        .animation{
            animation-name: opacity;
            animation-duration: 3.5s;
        }  
    }
    .hero{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom: 0;
        .picture{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-size: cover;
            background-position: bottom;
            transition: transform 0.3s;
            &.picture-5{
                background-image:url(../images/5.png);
                animation-delay: 0s;
            }
            &.picture-4{
                background-image:url(../images/4.png);
                animation-delay: 0.5s;
            }
            &.picture-3{
                background-image:url(../images/3.png);
                animation-delay: 1s;

            }
            &.picture-2{
                background-image:url(../images/2.png);
                animation-delay: 1.5s;

            }
            &.picture-1{
                background-image:url(../images/1.png);
                animation-delay: 2s;

            }    
            &.picture-0{
                background-image:url(../images/0.png);
            }
        }
        .animation{
            animation-name: translate;
            animation-play-state: paused;
            animation-duration: 2s;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }
        .run{
            animation-play-state: running;
        }
    }
}

// ANIMATION DES IMAGES DE L'INTRO (PAS DU CHANGEMENT DE TERRAIN)

@keyframes translate{
    0%{
        transform:translateY(200px);
    }
    100%{
        transform:translateY(0px);
    }
}

// ANIMATION DES PHRASES D'INTRO

@keyframes opacity{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}