.second-screen{
    position: relative;
    height: 100vh;
    .space-container{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        .buttonGoToPortHole{
            position: absolute;
            top: 14%;
            left: 40%;
            transform: translateX(-50%);
            color: $color;
            border: 1px solid $color;
            border-radius: 50px;
            font-size: 20px;
            font-family: $font;
            cursor: pointer;
            user-select: none;
            transition: all 0.3s;
            text-transform: uppercase;
            will-change: transform;
            padding : 15px;
            &:hover{
                background: rgba(255,255,255, 0.1);
                transform-origin: center;
            }
        }
        .bg-space{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
        }
    }
    .mission-container{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .bg-mission{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height:100%;
        }
        .mission{
            color: white;
            font-family: $font;
            z-index: 1;
            h1{
                font-size: 56px;
            }
            p{
                font-size: 32px;
            }
        }
        .quiz {
            position: absolute;
            width: 600px;
            height: 424px;
            background: url(../images/quiz.svg) no-repeat;
            background-size: cover;
            background-position: top left;
            top: calc(50% - 212px);
            left: calc(50% - 300px);
            display: flex;
            flex-direction: column;
            align-items: center;
            .buttonGoToExplanation{
            position: absolute;
            top: 14%;
            left: 58%;
            transform: translateX(-50%);
            color: $color;
            border: 1px solid $color;
            border-radius: 50px;
            font-size: 20px;
            font-family: $font;
            cursor: pointer;
            user-select: none;
            transition: all 0.3s;
            text-transform: uppercase;
            will-change: transform;
            padding : 15px;
            &:hover{
            background: rgba(255,255,255, 0.1);
            transform-origin: center;
        }
            }
        }
        
        .quiz *{
            color: white;
        }
        
        .quiz h2{
            margin: 50px 0;
            font-size: 50px;
        }
        
        .quiz .choice {
            margin: 40px 0;
            display: flex;
            justify-content: space-between;
            width: 50%;
        }
        
        .quiz .choice button {
            width: 70px;
            color: black;
            font-size: 20px;
        }
        
        .quiz .choice button:hover {
            animation-name: button;
            animation-duration: 800ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        
        .quiz h3{
            margin: 60px 0 0 0;
            font-size: 30px;
            width: 65%;
            text-align: center;
        }
        
        @keyframes button {
            0%  {transform: scale(1)}
            50%  {transform: scale(.8)}
            100%{transform: scale(1)}
        }
    }
    .buttonGoToRocket{
        position: absolute;
        z-index: 100;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        color: $color;
        border: 1px solid $color;
        border-radius: 50px;
        font-size: 20px;
        font-family: $font;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s;
        text-transform: uppercase;
        will-change: transform;
        padding : 15px;
        &:hover{
            background: rgba(255,255,255, 0.1);
            transform-origin: center;
        }
        &.clicked{
            padding: 50px;
            opacity: 0;
            filter: blur(5px);
        }
    }
    .hublots{
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 4;
        width: 100%;
        height: 300vh;
        .hublot{
            position: relative;
            top:0;
            left:0;
            width: 100%;
            height: 100vh;
            .hublot-img{
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
            }
            .goDown{
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                border: 1px solid black;
                border-radius: 50px;
                width: 50px;
                height: 50px;
                animation: jump 1s infinite;
                animation-delay: 0.5;
                cursor: pointer;
                .arrow{
                    position: absolute;
                    top:40%;
                    left:50%;
                    transform: translate(-50%, -40%) rotate(45deg);
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                    width: 20px;
                    height: 20px;
                }
            }
            .goToAstero{
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50px;
                background-color: #A72D66;
                color: white;
                font-size: 20px;
                font-family: $font;
                padding: 20px;
                cursor: pointer;
                animation: jump 1s infinite;
                animation-delay: 0.5;
            }
        }
    }
    .failed-container{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        .failed{
            text-align: center;
            color: white;
            h1{
                font-size: 56px;
                font-family: $font;
            }
            p{
                font-size: 32px;
            }
            .restart{
                border: solid 1px white;
                border-radius: 50px;
                padding: 10px;
                margin: 20px auto;
                width: 300px;
                font-size: 24px;
                font-family: $font;
                cursor: pointer;
                transition: background 0.3s;
                &:hover{
                    background: rgba(255, 255, 255, 0.253);
                }
            }
        }
    }
}
@keyframes jump{
    0%{
        transform: translateX(-50%) translateY(0px);
    }
    50%{
        transform: translateX(-50%) translateY(-20px);
    }
    100%{
        transform: translateX(-50%) translateY(0px);
    }
}