.rocket-container{
    position: relative;
    height: 100vh;
    .bg-rocket{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
     }
     .rocket-description{
         position: absolute;
         display: flex;
         justify-content: center;
         bottom:80px;
         left:50%;
         transform: translateX(-50%) scale(0.65);
         transform-origin: bottom;
         transition: all 5s;
         transition-timing-function: cubic-bezier(0.3, 0, 0.86, 0.55);
         .description{
            position: absolute;
            border: 8px solid rgb(160, 13, 13);
            border-radius: 50px;
            width: 25px;
            height: 25px;
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.1);
            }
            &.description-1{left: 46%; top: 40px;}
            &.description-2{right: 18%; bottom: 59%;}
            &.description-3{left: 46.5%; bottom: 105px;}
            &.description-4{right: 46%; top: 170px;}
            &.description-5{right: 14%; bottom: 35%;}
            &.description-6{right: 52%; top: 210px;}
         }
     }
     .capitaine-dialog{
         position: absolute;
         left: 0;
         top: 0;
         max-width: 1000px;
         display: flex;
         background: rgba(255,255,255, 0.3);
         border: 2px solid white;
         border-radius: 10px;
         margin: 10px;
         .capitaine{
           width: 150px;
           height: 150px;
           border: 2px solid white;
           border-top-left-radius: 10px;
           border-bottom-right-radius: 10px;
           margin: -2px 0 0 -2px;
         }
         .dialog{
             border-radius: 20px;
             line-height: 24px;
             color: white;
             padding: 10px;
             margin: 10px;
             width: 600px;
             font-family: $font;
             font-size: 20px;
         }
     }
     .take-up{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 26px;
        cursor: pointer;
     }
     .goToSpace{
         animation-name: takeUp;
         animation-duration: 5s;
         animation-fill-mode: both;
         animation-timing-function: ease-out;
   }
     .failToSpace{
         animation-name: takeUpfailed;
         animation-duration: 10s;
         animation-fill-mode: both;
         animation-timing-function: ease-out;
   }
}

@keyframes takeUp {
    0%{
        transform: translateX(-50%) scale(0.65);
    }
    100%{
        transform: translateX(-50%) scale(0.50) translateY(-250vh) rotate(50deg);

    }
}
@keyframes takeUpfailed {
    0%{
        transform: translateX(-50%) scale(0.65);
    }
    50%{
        transform: translateX(-50%) scale(0.50) translateY(-250vh) rotate(50deg);

    }
    100%{
        transform: translateX(300%) scale(0.50) translateY(-250vh) rotate(1000deg);

    }
}