@import "config";
@import "intro";
@import "selection";
@import "mission";
@import "rocket";
@import "space";
@import "cockpit";

.container{
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    user-select: none;
    letter-spacing: 2px;
}

body{
    overflow: visible;
}

.no-display{
    display: none !important;
}

.opacity{
    opacity: 1 !important;
}

.displayed{
    display: block;
}

.clicked{
    padding: 50px;
    opacity: 0;
    filter: blur(5px);
}

strong{
    font-weight: bold;
}