@import "config";
@import "intro";
@import "mission";
@import "rocket";
@import "space";

.container{
    display: flex;
    flex-direction: column;
    transition: transform 1s;
}

body{
    overflow: visible;
}

.no-display{
    display: none !important;
}

.displayed{
    display: block;
}

.clicked{
    padding: 50px;
    opacity: 0;
    filter: blur(5px);
}